@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// BOUTONS 

button {
    background-color: $color-secondary !important;
    color: $color-primary !important;
    border: none !important;
    padding: 10px 20px !important;
    font-weight: $font-weight-bold !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    border-radius: $radius-small !important;
    box-shadow: $shadow-button !important;
    font-family: $font-body !important;
    font-size: $font-size-xs !important;
    transition: background-color 0.3s ease !important;

    &:hover {
        background-color: $color-accent-red !important;
        color: $color-white !important;
    }
}

/* Bouton retour page d’accueil */
.back-home {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 139px !important;
    height: 44px !important;
    padding: 0 $spacing-sm !important;
    background: $color-secondary !important;
    border-radius: $radius-medium !important;
    box-shadow: $shadow-medium !important;

    a {
        color: $color-accent-blue !important;
        text-decoration: none !important;
        font-family: $font-body !important;
        font-size: $font-size-xs !important;
        font-weight: $font-weight-bold !important;
        line-height: 18px !important;
        text-align: center !important;
    }

    @include respond(md-up) {
        width: 202.182px !important;
        height: 64px !important;

        a {
            font-size: $font-size-body !important;
        }
    }
}

/* Styles supplémentaires pour les boutons spécifiques 
.btn-primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: $color-accent-blue;
    }
}

.btn-secondary {
    background-color: $color-secondary-light;
    color: $color-dark;

    &:hover {
        background-color: $color-secondary-dark;
    }
}

.btn-danger {
    background-color: $color-danger;
    color: $color-white;

    &:hover {
        background-color: $color-danger-dark;
    }
}*/