// Breakpoints pour les médias queries

// Plages de largeur d'écran
$breakpoint-xs-min: 393px;
$breakpoint-sm-min: 768px;
$breakpoint-md-min: 1024px;
$breakpoint-lg-min: 1280px;
$breakpoint-xl-min: 1440px;

@mixin respond($breakpoint) {
    @if $breakpoint ==xs {
        @media (min-width: $breakpoint-xs-min) and (max-width: 767.99px) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (min-width: $breakpoint-sm-min) and (max-width: 1023.99px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (min-width: $breakpoint-md-min) and (max-width: 1279.99px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (min-width: $breakpoint-lg-min) and (max-width: 1439.99px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (min-width: $breakpoint-xl-min) {
            @content;
        }
    }
}