// ---------------------
// SECTION AVANTAGES
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

.advantages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1.4rem 0px;

    @include respond(md-up) {
        grid-area: advantages;
    }

    .advantages-list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .item {
            display: flex;
            align-items: center;
            gap: 25px;

            p {
                font-size: $font-size-sm !important;
                font-weight: 275;

            }

            svg {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
            }
        }
    }
}