// ---------------------
// SECTION RÉSERVATION
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

.booking {
    width: 100%;
    padding: 1.3rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include respond(md-up) {
        grid-area: booking;
    }

    h2 {
        align-self: stretch;
    }
}