// ---------------------
// SECTION CHEF
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

.chef {
    display: flex;
    align-items: center;
    gap: $spacing-md;

    @include respond(md-up) {
        grid-area: chef;
    }

    .chef-avatar {
        width: 113px;
        height: 113px;
        border-radius: $radius-full !important;
        border: 4px solid $color-white !important;
        background-size: cover !important;
        background-position: center !important;
        flex-shrink: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respond(md-up) {
            width: 140px;
            height: 140px;
        }
    }

    .chef-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;

        @include respond(md-up) {
            gap: 0.8rem;
        }


        .chef-name {
            font-family: $font-body !important;
            font-size: 14px !important;
            font-weight: $font-weight-medium !important;

            @include respond(md-up) {
                font-size: 2.4rem !important;
            }

        }

        .chef-bio {
            font-family: $font-body !important;
            font-size: 12px !important;
            font-weight: 275 !important;

            @include respond(md-up) {
                font-size: 2rem !important;
            }

        }

        .read-more-chef {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 12px;
            font-weight: $font-weight-medium;
            line-height: 22px;
            text-decoration: underline;

            @include respond(md-up) {
                font-size: 2rem;

                svg {
                    width: 24px !important;
                    height: 24px !important;
                }
            }
        }
    }
}