// ---------------------
// SECTION INFOS RESTAURANT
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

// Affichage conditionnel des versions mobile/desktop de la section restaurant-infos
.restaurant-infos-mobile {
    display: block;

    @include respond(md-up) {
        display: none;
    }
}

.restaurant-infos-desktop {
    display: none;

    @include respond(md-up) {
        display: block;

        grid-area: infos;

    }
}