// ---------------------
// SECTION INFOS RESTAURANT
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

// Affichage conditionnel des versions mobile/desktop de la section restaurant-infos
.restaurant-infos-mobile {
    display: block;
    padding: 1.2rem clamp(2.3rem, 6vw, 7.2rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
        font-size: 1.6rem !important;
        font-weight: $font-weight-extra-bold;

        @include respond(md-up) {
            font-size: 2rem !important;
            line-height: 2.4rem !important;
        }
    }

    .infos-text-mobile {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }

    @include respond(md-up) {
        display: none;
    }

    .restaurant-type,
    .restaurant-location {
        font-size: 1.4rem !important;

        &.restaurant-type {
            font-weight: 275 !important;

            @include respond(md-up) {
                font-size: 1.6rem !important;
                color: #6a6a6a !important;
                line-height: 2.4rem !important;
            }
        }

        &.restaurant-location {
            font-weight: 300 !important;

            @include respond(md-up) {
                font-size: 1.6rem !important;
                font-weight: 400 !important;
                line-height: 1.8rem !important;
                color: #222 !important;
            }
        }
    }
}

.notes-avis-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.1rem;
    height: auto;
    font-size: 1.4rem !important;

    @include respond(md-up) {
        display: none;
    }

    svg {
        width: 2.1rem;
        height: 2.1rem;
    }

    a {
        text-decoration: underline !important;
    }
}

.restaurant-infos-desktop {
    display: none;

    @include respond(md-up) {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.4rem;
        grid-area: infos;

        .restaurant-type,
        .restaurant-location {
            font-size: 3.2rem !important;

            &.restaurant-type {
                font-weight: 275 !important;
            }

            &.restaurant-location {
                font-weight: 300 !important;
            }
        }

        .infos-text-mobile {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
        }
    }
}

.notes-avis-desktop {
    @include respond(md-up) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4.8rem;
        height: auto;
        font-size: 2.4rem !important;

        .restaurant-rating {
            display: flex;
            gap: 1.2rem;
            align-items: center;
        }

        svg {
            width: 2.1rem;
            height: 2.1rem;
        }

        a {
            text-decoration: underline !important;
        }
    }
}