// ---------------------
// SECTION PRÉSENTATION
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

.section-presentation {
    padding-inline: 23px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond(md-up) {
        grid-area: presentation;
    }

    .text {
        color: $color-black;
        font-family: $font-body;
        font-size: 14px;
        font-weight: $font-weight-light;
        line-height: 18px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        text-overflow: ellipsis;

        .highlight {
            font-weight: $font-weight-medium;
        }
    }

    .read-more {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: $font-weight-medium;
        color: $color-black;
        line-height: 22px;
    }
}