// ---------------------
// SECTION PRÉSENTATION
// ---------------------

@use '../../abstracts/variables' as *;
@use '../../utils/breakpoints' as *;

.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.2rem 0;
    gap: 1.6rem;

    @include respond(md-up) {
        grid-area: presentation;
    }

    .presentation-text {
        font-size: $font-size-sm !important;
        font-weight: $font-weight-light;
        line-height: 1.8rem;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        text-overflow: ellipsis;

        strong {
            font-weight: $font-weight-medium !important;
        }
    }

    .read-more-presentation {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: $font-weight-medium !important;
        line-height: 22px;
    }
}