@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// À PROPOS

.about-title {
    padding: 20px 0 !important;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-lg;
}

.image-about {
    width: 281px !important;
    height: auto;
    border-radius: $radius-large !important;
    margin: auto !important;

    @include respond(md) {
        width: 800px !important;
    }
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    padding: $spacing-lg 0;

    strong {
        font-weight: $font-weight-medium !important;
    }
}

/* Blocs thématiques */
.bloc-about-section {
    display: flex !important;
    flex-direction: column !important;
    gap: $spacing-xs !important;

    ul {
        list-style: none !important;
        display: flex !important;
        flex-direction: column !important;
        gap: $spacing-sm !important;
    }
}

/* Bouton retour */
.back-zone {
    display: flex !important;
    justify-content: center !important;
    padding: 40px 0 !important;

    @include respond(md) {
        padding: $spacing-xl 0 !important;
    }
}

/*
.back-home {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 139px !important;
    height: 44px !important;

    padding: 0 $spacing-sm !important;
    background: $color-secondary !important;
    border-radius: $radius-medium !important;
    box-shadow: $shadow-medium !important;

    @include respond(md) {
        width: 202.182px !important;
        height: 64px !important;
    }

    a {
        color: $color-accent-blue !important;
        text-decoration: none !important;
        font-family: $font-body !important;
        font-size: $font-size-body !important;
        font-weight: $font-weight-bold !important;
        line-height: 18px !important;
        text-align: center !important;

        @include respond(md) {
            font-size: $font-size-xs !important;
        }
    }
}*/