// RESTAURANT

@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

@use 'restaurant/hero';
@use 'restaurant/actions';
@use 'restaurant/infos';
@use 'restaurant/chef';
@use 'restaurant/presentation';
@use 'restaurant/buttons';
@use 'restaurant/advantages';
@use 'restaurant/map';
@use 'restaurant/booking';
@use 'restaurant/divider';

// Cacher le header uniquement sur la page restaurant
.page-template-page-restaurant header {
    display: none;

    @include respond(md-up) {
        display: block;
    }
}

// Layout de la page restaurant
#restaurant-layout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 clamp(2.3rem, 6vw, 7.2rem);
    justify-content: center;
    align-items: center;

    @include respond(md) {
        padding: 2rem 4rem;
        grid-template-columns: 510px 428px;
        column-gap: 2rem;
        row-gap: 1.2rem;

        grid-template-areas:
            "infos         booking"
            "divider-1     booking"
            "buttons       booking"
            "divider-2     booking"
            "chef          booking"
            "divider-3     booking"
            "presentation  map"
            "divider-4     map"
            "advantages    map"
            "divider-5     map"
            ".             map"
            ".             map";

    }

    @include respond(lg) {
        padding: 2rem 7rem 9.5rem;
        grid-template-columns: 610px 428px;
        row-gap: 1.2rem;
        column-gap: 8.4rem;
        grid-template-areas:
            "infos         booking"
            "divider-1     booking"
            "buttons       booking"
            "divider-2     booking"
            "chef          booking"
            "divider-3     booking"
            "presentation  map"
            "divider-4     map"
            "advantages    map"
            "divider-5     map"
            ".             map"
            ".             map";
    }

    @include respond(xl) {
        padding: 2rem 16rem 9.5rem;
        grid-template-columns: 610px 428px;
        row-gap: 1.2rem;
        column-gap: 8.4rem;
        grid-template-areas:
            "infos         booking"
            "divider-1     booking"
            "buttons       booking"
            "divider-2     booking"
            "chef          booking"
            "divider-3     booking"
            "presentation  map"
            "divider-4     map"
            "advantages    map"
            "divider-5     map"
            ".             map"
            ".             map";
    }
}

// Seconde colonne du layout
.map,
.booking {
    @include respond(md-up) {
        grid-column: 2;
    }
}