// RESTAURANT

@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

@use 'restaurant/hero';
@use 'restaurant/actions';
@use 'restaurant/infos';
@use 'restaurant/chef';
@use 'restaurant/presentation';
@use 'restaurant/buttons';
@use 'restaurant/advantages';
@use 'restaurant/map';
@use 'restaurant/booking';
@use 'restaurant/divider';

// Cacher le header uniquement sur la page restaurant
.page-template-page-restaurant header {
    display: none;
}

// Layout de la page restaurant
#restaurant-layout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2.3rem;

    @include respond(md-up) {
        grid-template-columns: 1fr 1fr;
        gap: 8.4rem;
        grid-template-areas:
            "infos       booking"
            "buttons     booking"
            "chef        booking"
            "presentation map"
            "advantages   map";
    }
}

// Seconde colonne du layout
.map,
.booking {
    @include respond(md-up) {
        grid-column: 2;
    }
}

.card-restaurant {
    width: 100%;
    height: 347px;
    flex-shrink: 0;
    position: relative;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__top-bar {
        position: absolute;
        top: 15px;
        left: 23px;
        right: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn-group {
        display: flex;
        align-items: center;
        gap: 15px;

        .circle-btn {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $radius-full;
            background-color: $color-white;
        }
    }
}