@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// FOOTER

footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 29px 5.85% !important;
    gap: 1rem !important;
    background-color: $color-accent-blue !important;
    color: $color-white !important;
    font-size: $font-size-xs !important;
    max-width: none !important;

    section {
        padding: 0 !important;
    }

    a {
        color: $color-white !important;
        text-decoration: none !important;
    }

    @include respond(md) {
        padding: 42px 12.5% !important;
        font-size: $font-size-xs !important;
    }
}

/* Conteneur principal */
.infos-footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 2.9rem !important;

    @include respond(md) {
        gap: 3.2rem !important;
    }
}

/* Réseaux sociaux */
.social-follow {
    display: flex !important;
    justify-content: center !important;
    padding: 0 5px !important;
    width: 100% !important;

    @include respond(md) {
        padding-inline: clamp(1rem, 14.82vw, 16rem) !important;
    }
}

.social-icons {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;

    a {
        display: inline-block !important;
    }

    i {
        font-size: 24px !important;
        width: auto !important;
        color: $color-white !important;

        @include respond(md) {
            font-size: 32px !important;
        }
    }
}

/* Footer Divider */
.footer-divider {
    width: 100% !important;
    height: 0.1rem !important;
    background-color: $color-white !important;
    margin: 0 auto !important;
}

/* Copyright */
.copyright {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    width: 57% !important;
    justify-content: flex-start !important;
    align-items: center !important;
    text-align: center !important;
    gap: 5px !important;

    p {
        font-size: 1rem !important;
        color: $color-white !important;

        @include respond(md) {
            font-size: $font-size-sm !important;
        }
    }

    @include respond(md) {
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: center !important;
        width: auto !important;
    }

    a {
        display: inline-block !important;
    }
}

.copyright-text {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 0.5rem !important;
}

.copyright-links {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    margin: 0.32rem 0 !important;
    gap: 0.5rem !important;
}

.copyright-name {
    font-weight: $font-weight-bold !important;
}

.copyright-dot {
    display: none !important;

    @include respond(md) {
        display: inline !important;
    }
}

/* Newsletter */
.newsletter-box {
    display: none !important;
}