@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// FOOTER

footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding-block: clamp(2rem, 5.85vw, 2.9rem) !important;
    padding-inline: clamp(2rem, 5.85vw, 2.3rem) !important;
    gap: 1rem !important;
    background-color: $color-accent-blue !important;
    color: $color-white !important;
    font-size: $font-size-xs !important;
    max-width: none !important;

    @include respond(xs) {
        padding-inline: clamp(2.3rem, 5.85vw, 5rem) !important;
        padding-block: clamp(2.9rem, 5.85vw, 3.2rem) !important;
    }

    @include respond(sm) {
        padding-inline: clamp(5rem, 7vw, 6rem) !important;
        padding-block: clamp(3rem, 7vw, 3.6rem) !important;
    }

    @include respond(md) {
        padding-inline: clamp(6rem, 8vw, 7.3rem) !important;
        padding-block: clamp(3.5rem, 8vw, 4.2rem) !important;
    }

    @include respond(lg) {
        padding-inline: clamp(8rem, 10vw, 13rem) !important;
        padding-block: clamp(4.2rem, 10vw, 6rem) !important;
    }

    @include respond(xl) {
        padding-inline: clamp(16rem, 11vw, 18rem) !important;
        padding-block: clamp(4.2rem, 11vw, 5rem) !important;
    }

    section {
        padding: 0 !important;
    }

    a {
        color: $color-white !important;
        text-decoration: none !important;
    }
}

/* Conteneur principal */
.infos-footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 2.9rem !important;

    @include respond(md-up) {
        gap: 3.2rem !important;
    }
}

/* Réseaux sociaux */
.social-follow {
    display: flex !important;
    justify-content: center !important;
    padding: 0 5px !important;
    width: 100% !important;

    @include respond(sm) {
        padding-inline: clamp(7rem, 8vw, 16rem) !important;
    }

    @include respond(md-up) {
        padding-inline: clamp(16rem, 14.82vw, 18rem) !important;
    }
}

.social-icons {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;

    a {
        display: inline-block !important;
    }

    i {
        font-size: 24px !important;
        width: auto !important;
        color: $color-white !important;

        @include respond(md-up) {
            font-size: 32px !important;
        }
    }
}

/* Footer Divider */
.footer-divider {
    width: 100% !important;
    height: 0.1rem !important;
    background-color: $color-white !important;
    margin: 0 auto !important;
}

/* Copyright */
.copyright {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    width: 57% !important;
    justify-content: flex-start !important;
    align-items: center !important;
    text-align: center !important;
    gap: 5px !important;

    p {
        font-size: 1rem !important;
        color: $color-white !important;

        @include respond(md-up) {
            font-size: $font-size-sm !important;
        }
    }

    @include respond(md-up) {
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: center !important;
        width: auto !important;
    }

    a {
        display: inline-block !important;
    }
}

.copyright-text {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 0.5rem !important;
}

.copyright-links {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0.32rem 0 !important;
    gap: 0.5rem !important;
}

.copyright-name {
    font-weight: $font-weight-bold !important;
}

.copyright-dot {
    display: none !important;

    @include respond(md-up) {
        display: inline !important;
    }
}

/* Newsletter */
.newsletter-box {
    display: none !important;
}