@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// HEADER 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    gap: 2px;
    background-color: $color-white;
    box-shadow: $shadow-light;
    width: 100%;

    @include respond(md) {
        padding-bottom: 24px;
    }
}

/* Partie haute du header */
.header-top {
    display: flex;
    height: 80px;
    padding: 15px 23px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include respond(md) {
        height: 90px;
        padding: 16px 80px;
    }
}

/* Logo */
.logo-container img {
    height: 27px;

    @include respond(md) {
        height: 35px;
    }
}

.site-logo {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
}

/* Navigation principale */
.main-navigation {
    display: none;

    @include respond(md) {
        display: flex;
        align-items: center;
        gap: 32px;

        ul {
            list-style: none;
            display: flex;
            gap: 24px;
            margin: 0;
            padding: 0;
        }

        li {
            font-size: $font-size-body;
            font-weight: $font-weight-medium;
        }

        a {
            color: $color-primary;
            text-decoration: none;

            &:hover {
                color: $color-secondary;
            }
        }
    }
}

/* Profil */
.header-profile {
    display: none;

    @include respond(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-sm;
        padding: 8px 12px;
        border-radius: $radius-xlarge;
        border: 1px solid #DDD;
        background: $color-white;
    }
}

/* Menu hamburger */
.hamburger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: $color-primary;
    box-shadow: none;
    padding: 0;
}

.menu-icon {
    display: block;
    width: 24px;
    height: 24px;

}

/* Avatar */
.profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: $radius-full;
    object-fit: cover;
}

/* Menu mobile */
.hamburger-mobile {
    display: block;
    padding: 9px;
    border-radius: $radius-medium;
    background: rgba(250, 243, 224, 0.5);

    img {
        width: 32px;
        height: 32px;
    }

    @include respond(md) {
        display: none;
    }
}

/* Menu mobile */
.mobile-navigation {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--color-white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
}

.mobile-menu-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-wrapper li {
    padding: 10px 0;
    text-align: center;
}

.mobile-menu-wrapper a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}

/* Affichage du menu mobile lorsqu’il est actif */
.mobile-navigation.active {
    display: block;
}

/* Partie basse : barre de recherche */
.header-bottom {
    display: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: $radius-full;
    padding: 12px;
    box-shadow: $shadow-light;
    align-items: center;
    gap: 8px;

    @include respond(md) {
        flex-direction: row;
        padding: 16px 24px;
        gap: $spacing-sm;
    }
}

.search-field {
    display: flex;
    flex-direction: column;

    span {
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
    }

    input {
        border: none;
        outline: none;
        font-size: 1.6rem;
        padding: 5px;
        width: 100%;
    }
}

.search-button {
    background-color: $color-secondary;
    border: none;
    padding: 10px;
    border-radius: $radius-full;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
        fill: $color-white;
    }
}