@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;
@use '../base/typography' as *;
@use '../base/base' as *;

// HEADER 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 !important;
    gap: 2px;
    background-color: $color-white !important;
    box-shadow: $shadow-light !important;
    width: 100% !important;

    @include respond(md-up) {
        padding-bottom: 24px !important;
    }
}

/* Partie haute du header */
.header-top {
    display: flex !important;
    height: 80px !important;
    padding-block: 15px !important;
    padding-inline: clamp(2rem, 5.85vw, 2.3rem) !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;

    @include respond(xs) {
        padding-inline: clamp(2.3rem, 5.85vw, 3.2rem) !important;
    }

    @include respond(sm) {
        padding-inline: clamp(3.2rem, 6vw, 5rem) !important;
    }

    @include respond(md-up) {
        height: 90px !important;
        padding-block: 16px !important;
    }

    @include respond(md) {
        padding-inline: clamp(5rem, 6vw, 7rem) !important;
    }

    @include respond(lg) {
        height: 90px !important;
        padding-block: 16px !important;
        padding-inline: clamp(7rem, 6vw, 8rem) !important;
    }

    @include respond(xl) {
        height: 90px !important;
        padding-block: 16px !important;
        padding-inline: clamp(8rem, 6vw, 12rem) !important;
    }
}

/* Logo */
.logo-container img {
    height: 27px !important;

    @include respond(lg) {
        height: 35px !important;
    }

    @include respond(xl) {
        height: 35px !important;
    }
}

.site-logo {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
}

/* Navigation principale */
.main-navigation {
    display: none !important;

    @include respond(md-up) {
        display: flex !important;
        align-items: center;
        gap: 32px;

        ul {
            list-style: none;
            display: flex;
            gap: 24px;
            margin: 0;
            padding: 0;
        }

        li {
            font-weight: $font-weight-medium !important;
        }

        a {
            color: $color-primary;
            text-decoration: none;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    @include respond(md) {

        li {
            font-size: 1.5rem !important;

        }
    }

    @include respond(lg) {

        li {
            font-size: 2rem !important;
        }
    }
}

/* Profil */
.header-profile {
    display: none !important;

    @include respond(md-up) {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: $spacing-sm;
        padding: 8px 12px !important;
        border-radius: $radius-xlarge;
        border: 1px solid #DDD !important;
        background: $color-white !important;
    }
}

/* Menu hamburger */
.hamburger-menu {
    display: block !important;
    background: none !important;
    border: none !important;
    cursor: pointer;
    color: $color-primary !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.menu-icon {
    display: block;
    width: 24px;
    height: 24px;

}

/* Avatar */
.profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: $radius-full;
    object-fit: cover;
}

/* Menu mobile */
.hamburger-mobile {
    display: block !important;
    padding: 9px !important;
    border-radius: $radius-medium !important;
    background: rgba(250, 243, 224, 0.5) !important;

    img {
        width: 32px;
        height: 32px;
    }

    @include respond(md-up) {
        display: none !important;
    }
}

/* Menu mobile */
.mobile-navigation {
    display: none !important;
    position: absolute !important;
    top: 80px;
    right: 0;
    background-color: var(--color-white) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
    width: 250px !important;
    padding: 20px !important;
}

.mobile-menu-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-wrapper li {
    padding: 10px 0;
    text-align: center;
}

.mobile-menu-wrapper a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}

/* Affichage du menu mobile lorsqu’il est actif */
.mobile-navigation.active {
    display: block;
}

/* Partie basse : barre de recherche */
.header-bottom {
    display: none !important;

    @include respond(md-up) {
        display: flex !important;
        justify-content: center;
        align-items: flex-start;
        width: 100% !important;
    }
}

.search-bar {
    display: none;

    @include respond(md-up) {
        display: flex !important;
        gap: $spacing-sm;
        background-color: $color-white !important;
        border-radius: $radius-xlarge !important;
        box-shadow: $shadow-light !important;
        align-items: center;
        justify-content: space-around;
        width: 800px !important;
        height: 50px !important;
        padding: 0 !important;

        .search-field {
            display: flex;
            flex-direction: column;
            gap: 0.2rem !important;

            span {
                font-weight: $font-weight-regular;
                font-size: $font-size-sm;
            }

            input {
                border: none;
                outline: none;
                font-size: $font-size-xs !important;
                font-weight: $font-weight-light !important;
                color: $color-text-grey !important;
                width: 100%;
                padding: 0 !important;

                input[type="text" i] {
                    padding-block: 0 !important;
                    padding-inline: 0 !important;
                }
            }


        }

        .search-field-location {
            padding-left: 2.4rem !important;
        }

        .search-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-secondary !important;
            border: none;
            padding: 10px !important;
            border-radius: $radius-full !important;
            cursor: pointer;
            aspect-ratio: 1/1;

            svg {
                width: 20px;
                height: 20px;
                fill: $color-white;
            }
        }

        .search-divider {
            width: 1px !important;
            height: 32px !important;
            background-color: var(--Border-Default, #DDD) !important;
        }
    }
}