@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// Styles de base communs à tout le site

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: $color-white !important;
    color: $color-primary !important;
}

/* Main */
main {
    display: block !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.entry-content {
    padding: 0 5.85% !important;
    max-width: none !important;

    @include respond(md) {
        padding: 0 11.1% !important;
    }
}

@include respond(md) {

    .post-thumbnail,
    .entry-content .wp-audio-shortcode,
    .entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
    *[class*=inner-container]>*:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
    .default-max-width {
        max-width: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* Images et médias */
img,
video,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Listes */
ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Boutons */
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

/* Sections générales */
section {
    padding: $spacing-lg 0;
}

/* Utilitaires */
.hidden {
    display: none !important;
}