// TYPOGRAPHIE

// Import Variables
@use '../abstracts/variables' as *;
@use '../utils/breakpoints' as *;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Base
html {
    font-family: $font-body !important;
    font-size: $font-size-html !important;
}

// Titres
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title !important;
    line-height: 1.2;
    color: $color-primary;
}

h1 {
    font-size: $font-size-h1 !important;
    font-weight: $font-weight-extra-bold !important;

    @include respond(md) {
        font-size: $font-size-h1-xl !important;
    }
}

h2 {
    font-size: $font-size-h2 !important;
    font-weight: $font-weight-bold !important;

    @include respond(md) {
        font-size: $font-size-h2-xl !important;
    }
}

h3 {
    font-size: $font-size-h3 !important;
    font-weight: $font-weight-bold !important;

    @include respond(md) {
        font-size: $font-size-h3-xl !important;
    }
}

h4,
h5,
h6 {
    font-size: $font-size-body !important;
    font-weight: $font-weight-medium !important;
}

// Corps de texte

body {
    font-family: $font-body !important;
    font-size: $font-size-body !important;
    line-height: 1.6 !important;
}

// Paragraphes et listes
p,
ul,
ol,
li {
    font-family: $font-body !important;
    font-size: $font-size-body !important;
    color: $color-primary !important;
    font-weight: $font-weight-regular !important;

    @include respond(md) {
        font-size: 2rem !important;
    }
}

// Listes
ul,
ol {
    padding-left: 0;
}

// Liens
a {
    font-family: $font-body !important;
    color: $color-secondary !important;
    text-decoration: none !important;

    &:hover {
        color: $color-accent-red !important;
    }
}